NEXTAUTH_URL=http://localhost:3210
NEXTAUTH_SECRET=replace-with-random-secret
DATA_DIR=./data
MAP_PROVIDER=osm-standard
# MAP_PROVIDER=self-hosted-vector
# MAP_STYLE_URL=https://tiles.spiderroute.com/style.json
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
POSTAL_API_URL=
POSTAL_API_KEY=
POSTAL_FROM_EMAIL=SpiderRoute <hello@spiderroute.com>
POSTAL_WEBHOOK_PUBLIC_KEY=
